/* 
--- 01 Typography System

      Font Weights:
      Default: 400
      medium: 500
      Semi-bold: 600
      Bold: 700

      Line Heights:
      Default: 1
      Small: 1.05
      medium: 1.2
      paragraph default: 1.6

      Letter spacing:
      -0.5px
      0.75

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 Colors

    Primary: 
    #e67e22;

    Tints:
    #fdf2e9;
    #fae5d3;
    
    Shades:
    #cf711f;

    Accents:

    Greys:
    #6f6f6f - (lightest grey allowed on #fef2e9)
    #555;
    #333;

--- 03 Shadows

--- 04 Border Radius
   Default: 9px;
   11px;

--- 05 White Space

      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 10px;  Setting font size to 10px on HTML element results in 1rem = 10px - This will not account for manual changes to browser default font sizing - use below % instead to auto calculate change and 1rem still = 10px */
  font-size: 62.5%; /* 10px / 16px (browser default) = 0.625 = 62.5%  */

  /* Does not work on SAFARI */
  /* scroll-behavior: smooth; */

  /* overflow hidden on x offset on both html and body elements for transform css applied to hidden mobile nav off screen from body */
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/********************************************
 GENERAL REUSABLE COMPONENTS
**********************************/

.container {
  /* 1200px max width on page */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* RE-USABLE GRID */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

/* .grid:last-child {
  /* If multiple grids are placed in one section or there is only 1 grid container in a section apply 0 margin to the last grid to avoid extra space being added.
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  /* Alternative - only adds margin to the bottom if its NOT the last child in parent */
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* Attach to grid classes when wanting to center grid items vertically */
.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* Reduce the letter spacing in large text blocks like h1 so is more compact on page and defined - stands out more */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block; /* Make span element a block element */
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase; /* Small subheadings in uppercase */
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* When applying css to <a> elements always target with :link pseudo class */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only for btn class */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Transition on the original state only */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  /* Use primary color as background colour for main CTA button */
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  /* Secondary button use a less prominent colour so main CTA remains central on page*/
  background-color: #fff;
  color: inherit; /* Inherits the colour set on the body element */
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* TRICK TO ADD BORDER INSIDE - doesn't add extra px spacing applied using border property */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}

.btn--form:hover,
.btn--form:active {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* Use universal selector on focus state to overwrite all elements with custom focus style */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5); /* Use box-shadow instead of outline or border so it will wrap around any elements with a border radius */
}

/****************************************************************
 HELPER/SETTING CLASSES
 ****************************************************************/

/* Helper class - Can re-use on individual elements throughout page - attach important to ensure it overwrites other properties */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/* ************************************ */
.not-used {
  background-color: red;
  padding: 100px;
  /* width: 1000px; */
  max-width: 1000px; /* Setting Max-Width allows element to be given a set width but below value will then auto become width of parent element - below 1000px will then become width 100% */

  max-width: 60rem; /* 1rem = default browser font size (default 16) - rem = Root Element font size */
}
